<h1>Listing user_infos</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Current puzzle</th>
    <th>Max puzzle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_infos.each do |user_info| %>
  <tr>
    <td><%= user_info.username %></td>
    <td><%= user_info.current_puzzle %></td>
    <td><%= user_info.max_puzzle %></td>
    <td><%= link_to 'Show', user_info %></td>
    <td><%= link_to 'Edit', edit_user_info_path(user_info) %></td>
    <td><%= link_to 'Destroy', user_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User info', new_user_info_path %>
