
<script>
  window.saved_current_puzzle = "<%= @info.current_puzzle.to_i %>";
  window.info_id = "<%= @info.id %>";
</script>

<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag "welcome.js" %>
<%= javascript_include_tag "crafty.js" %>
<%= javascript_include_tag "logging.js" %>
<%= javascript_include_tag "game.js" %>
<%= csrf_meta_tags %>


<script>
    window.addEventListener('load', function() { 
      Game.start("game_2");
    });
</script>

<style>
  .sidebar{
    width: 200px;
    text-align: center;
    float:left;
    border: 1px solid black;
    background: rgb(240,240,240);
    padding: 10px;
  }

  #cr-stage{
    float: left;
    margin-left: 10px;
    border: 1px solid black;
  }
</style>

<p>
  <button id="and-intro" onclick="Game.create_and_intro_piece()"><img src="<%= asset_path 'and-intro.png' %>" height=55></button>
  <button id="and-elim-1" onclick="Game.create_and_elim_piece_1()"><img src="<%= asset_path 'and-elim-1.png' %>" height=55></button>
  <button id="and-elim-2" onclick="Game.create_and_elim_piece_2()"><img src="<%= asset_path 'and-elim-2.png' %>" height=55></button>
  <button id="imp-intro" onclick="Game.create_imp_intro_piece()"><img src="<%= asset_path 'imp-intro.png' %>" height=55></button>
  <button id="imp-elim" onclick="Game.create_imp_elim_piece()"><img src="<%= asset_path 'imp-elim.png' %>" height=55></button>
  <button id="add-context" onclick="Game.add_context_left()">Extend Piece</button>
  <button id="undo" onclick="Game.pop_history()">Undo Last Connection</button>
  <button id="restart" onclick="Game.restart()">Restart</button>
  <button id="toggle-logic" onclick="Game.toggle_logic()">Show/Hide Logic</button>
  <!-- <button id="zoom-in" onclick="Game.zoom_in()">+</button> -->
  <!-- <button id="zoom-out" onclick="Game.zoom_out()">-</button> -->
  <span style="float:right;">
    You are: <%= current_user.username %> (<%= link_to "log out", "/session?delete=true", {method: :delete} %>) 
  </span>
</p>
