<script src="http://d3js.org/d3.v3.min.js"></script>

<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag "logging.js" %>
<%= javascript_include_tag "process_logs.js" %>

<style>

/*body {
  font: 10px sans-serif;
}
*/
.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.horizontal-bar {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

</style>

<input type="text" id="experiment_name">
<button onclick="LogProcessor.start_experiment()"> Start Experiment</button>
<button onclick="LogProcessor.stop_experiment()"> Stop Experiment</button>
<button onclick="LogProcessor.show_experiment_results()"> Show Results</button>

<% @logs.each do |l| %>
    <div class="log_entry" style="color:<%= l.color %>">
   {
     "user":"<%= "#{l.group.name}" if l.group %>",
     "time":"<%= l.created_at.strftime("%Y-%m-%d %H:%M:%S.%L %Z") %>",
     "message": <%= l.message %> 
   }
   </div>
   
<% end %>

<script>
    //LogProcessor.process();
</script>
